*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://i.pinimg.com/originals/43/75/1f/43751f6d377c8cceb61b6ee7e3e1b07b.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Pixelify Sans', sans-serif;
    color: #ffffff; 
    line-height: 1.6;
}

.header {
    background-color: #333;
    color: #ffffff;
    padding: 10px 0;
}

.header .container {
    display: flex;
    justify-content: center;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header nav ul li {
    display: inline;
}

.header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.header nav ul li a:hover {
    background-color: #9c0404;
    border-radius: 4px;
}

.member-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.member img {
    width: 100%;
    border-radius: 10px;
}

.member-details {
    font-family: 'Pixelify Sans', sans-serif;
    margin-top: 10px;
    text-align: center;
    color: #ffffff; 
}

.member-details h1 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    color: #ffffff; 
}

.member-details h2 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 9px;
    color: #ffffff; 
    margin-bottom: 10px;
}


.description-container {
    flex: 1;
    padding: 20px;
    margin-left: 40px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    color: #ffffff; 
}

.description-container p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}