* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #f4f4f4;
    background-image: url('https://www.comicvine.com/a/uploads/original/11131/111312465/7543232-giphy-1.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

.header .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header nav ul {
    display: flex;
    justify-content: space-around;
}

.header nav ul li {
    background-color: transparent;
    margin: 0 10px;
    border-radius: 5px;
    overflow: hidden;
}

.header nav ul li a {
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header nav ul li a:hover {
    background-color: black;
    color: #fff;
}


.member {
    width: 100%;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.member img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.member .member-details {
    margin-top: 20px;
}

.member h1,
.member h2 {
    margin: 10px 0 0;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}

.member p {
    color: #e7dddd;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        align-items: center;
    }

    .header nav ul {
        flex-direction: column;
    }

    .member {
        width: 90%;
    }
}
